    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
        height: 4rem;
        }
    </style>
    </head>
    <body>
    <div id="app">
        <!-- 5. 上架 -->
        <div v-for="prodItem in products" :key="prodItem.id">
        <img :src="prodItem.image" alt="">
        <!-- <h6>{{prodItem['title']}}</h6> -->
        <p>
            <!-- {{prodItem.rating}} -->
            <!-- { "rate": 3.9, "count": 120 } -->
            <!-- {{ prodItem?.rating?.rate }}  -->
            <!-- {{ parseInt(prodItem?.rating?.rate) }} -->
            
            <span v-for="star in parseInt(prodItem?.rating?.rate)">🌟</span>
            ({{prodItem?.rating?.count}})
        </p>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.createApp({
        data() {
            return {
            products: []
            }
        },
        mounted() {
            // 畫面渲染完，開始執行作用域中的東西
            // 1. 叫貨車來
            fetch('https://fakestoreapi.com/products')
            .then(res=>{
            // 2. 貨車到了
            return res.json()
            })
            .then(json=>{
            // 3. 貨車卸貨
            console.log(json)
            // 4. 放到倉庫裡
            this.products = json
            })
        },
        }).mount("#app")
    </script>
    </body>
    </html>